In [1]:
import pandas as pd

# Problem 1: Descriptive Statistics and Probability Theory: Real Data on CEO Compensation

In [5]:
df = pd.read_excel('ceo.xls')
df.head()

   salary  totcomp  tenure  age     sales  profits    assets Unnamed: 7
0    3030     8138       7   61  161315.0   2956.0  257389.0        NaN
1    6050    14530       0   51  144416.0  22071.0  237545.0        NaN
2    3571     7433      11   63  139208.0   4430.0   49271.0        NaN
3    3300    13464       6   60  100697.0   6370.0   92630.0        NaN
4   10000    68285      18   63  100469.0   9296.0  355935.0        NaN

## (a)
For the variable totcomp compute the common location measures: mean, 5%- trimmed mean, median, upper and lower quartiles, the upper and lower 5%- quantiles. Give an economic interpretation for every location measure.

In [7]:
totcomp = df['totcomp']
totcomp.head()

0     8138
1    14530
2     7433
3    13464
4    68285
Name: totcomp, dtype: int64

In [8]:
totcomp_mean = df['totcomp'].mean()